.section-guide {
    background-color: #1F2937;
    padding: 3rem 2rem;
}

.section-guide h2 {
    margin-bottom: 1rem;
    color: #fff;
}

.guide-description {
    text-align: center;
    color: #e5e7eb;
}

.section-guide-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.section-guide-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.guide-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(255 255 255 / 0.2);
    border: 1px solid rgb(255 255 255 / 0.2)
}

.guide-icon svg {
    font-size: 1.5rem;
    color: #fff;

}

.section-guide-card h3 {
    color: #fff;
    text-align: center;
}

.section-guide-card p {
    text-align: center;
    color: #e5e7eb;
}

@media (max-width: 800px) {
    .section-guide-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .section-guide-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}