* {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 3rem;
}

p {
    line-height: 1.5;
}