@import "tailwindcss";

@theme {
  --color-primary: #0184C7; /* blue*/
  --color-primary-1: #10A4E9;
  --color-primary-2: #0184C7; /*light blue*/
  --color-primary-3: #22C55E; 
  --color-primary-4: #EF4444;
  --color-primary-5: #EC4799; 

  --color-surface-1: #111827; /* Header & Sidebar */
  --color-surface-2: #1F2937; /* Cards */

  --color-background: #0F172A;

  --color-text: #E5E7EB;
  --color-text-muted: #9CA3AF;

  --color-border: #374151;

  --gradient-main: linear-gradient(
    to right,
    #01F2937,
    #111827
  );
}

@layer base {
    * {
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        
    }

    button {
        cursor: pointer;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    p {
        line-height: 1.5;
        font-size: 1rem;
    }

    @media (max-width: 900px) {
        h2 {
            font-size: 2rem;
        }
    }
}
