* {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

p {
    line-height: 1.5;
}

@media (max-width: 900px) {
    h2 {
        font-size: 2rem;
    }
}