/* =============== CALL TO ACTION SECTION ==================*/
.call-to-action-section {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 5rem 8rem;
    background: #1E2836;
}

.call-to-action-section img {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(1, 132, 199, 0.25);
    width: 50%;
    height: auto;
}

.call-to-action-section h2 {
    text-align: start;
    margin: 2rem 0;
    background: linear-gradient(to right, #e5e7eb, #A0F2BE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.call-p,
.feature-p {
    color: #e5e7eb;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.call-ul {
    color: #fff;
    list-style: none;
    padding-left: 0;
    margin: 0 0 1.5rem 0;
}

.call-ul li {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.call-ul li::before {
    content: "✔";
    color: rgb(134 239 172);
    margin-right: 0.5rem;
}

@media (max-width: 1000px) {
    .call-to-action-section {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .call-to-action-section img {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .call-to-action-section {
        padding: 3rem 2rem;
    }

    .call-p, .feature-p {
        font-size: 1rem;
    }
}