/* =============== CONTACT SECTION ==================*/
.contact-section {
    padding: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    background-color: #1F2937;
}

.contact-icon {
    background: #fff;
    color: #0184C7;
}

.contact-card {
    color: #fff;
}

.contact-card h3 {
    font-size: 1rem;
    margin: 1rem 0;
}

.contact-card p {
    font-size: 0.8rem;
}

@media (max-width:900px) {
    .contact-section {
        padding: 3rem 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .contact-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-card p {
        text-align: center;
    }
}