/* =============== FEATURE SECTION ==================*/
.feature-section {
    display: flex;
    padding: 5rem 8rem;
    background-color: #182633;
    gap: 3rem;
}

.feature-details {
    width: 50%;
}

.feature-section h2 {
    margin: 2rem 0;
    text-align: start;
    background: linear-gradient(to right, #e5e7eb, #0184C7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.feature-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid rgb(255 255 255 / 0.2);
    /* box-shadow: 0 10px 20px rgba(1, 132, 199, 0.25); */
}

.feature-icon,
.contact-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(255 255 255 / 0.2);
}

.feature-icon {
    background: rgb(255 255 255 / 0.2);
    color: #fff;
}

.feature-card h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.feature-card p {
    color: #fff;
    font-size: 1rem;
}

.feature-images {
    display: flex;
    gap: 2rem;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feature-image {
    overflow: hidden;
    border-radius: 20px;
}

.column:first-child .feature-image:first-child {
    height: 220px;
}

.column:first-child .feature-image:last-child {
    height: 320px;
}

.column:last-child .feature-image:first-child {
    height: 320px;
}

.column:last-child .feature-image:last-child {
    height: 220px;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .feature-section {
        padding: 3rem 2rem;
        flex-direction: column;
    }

    .feature-section h2 {
        margin-bottom: 1rem;
    }

    .feature-details {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .feature-icon,
    .contact-icon {
        padding: .8rem;
    }

    .column:first-child .feature-image:first-child {
        height: 120px;
    }

    .column:first-child .feature-image:last-child {
        height: 220px;
    }

    .column:last-child .feature-image:first-child {
        height: 220px;
    }

    .column:last-child .feature-image:last-child {
        height: 120px;
    }
}